.todo__wrapper {
    width: 500px;
    margin: 10% auto;
}
.todo__main{

}


.todo__list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.todo__list ul li {
    padding: 10px 5px;
    border: 1px solid #fefe;
}
span.todo__body {
    width: 86%;
    display: inline-block;
}
button.todo__remove {
    width: 30px;
    height: 30px;
    border: 0;
    font-size: 16px;
    color: red;
}

input.todo__add {
    padding: 15px 9px;
    width: 100%;
    box-sizing: border-box;
}

.todo__items_left {
    padding: 9px 13px;
}