<div class="todo__wrapper">
  <div class="todo__form">
      <form (submit)="addTodo(todo.value)">
          <input class="todo__add" type="text" placeholder="add todo" [(ngModel)] = "new_todo" name="todo" #todo>
        </form>
  </div>
  
  <div class="todo__list">
      <ul>
          <li *ngFor="let todo of todos; let i = index">
            <input type="checkbox" (click)="comleteTodo(todo.id, todo.isCompleted)" name={{i}}/>
            <span class="todo__body">{{i + 1}} {{todo.body}}</span>
            <button class="todo__remove" (click)="removeTodo(todo.id)">X</button>
          </li>
        </ul>
        <div class="todo__items_left">
          <span>{{notComletedTodosNumber}} items left</span>
        </div>
  </div>
</div>